html {
    height: 100%;
}

.service {
    float: right;
    
}

.service ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
}

body {
    background-color: #2F3035;
    background-image: url(images/grass.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    background-color: white;
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.685);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    background-color: greenyellow;
    height: 300px;
    text-align: center;
    
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color: rgb(0, 0, 0, 0.728);
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 15px;
    text-align: left;
    color: rgb(198, 198, 198);
    
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}

h3 {
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
} 

footer p {
    font-size: 15px;
    text-align: center;
    color: rgb(198, 198, 198);
}

.maps {
    padding-bottom: 100px;
}

header a {
    font-size: 15px;
    text-decoration: none;
    color: Black;
    
}